@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* Color Variables */
:root {
  --PRIMARY-COLOR: #1a535c;
  --SECONDARY-COLOR: #4ecdc4;
  --BACKGROUND-COLOR: #f7fff7;
  --TEXT-COLOR: #333;
  --WHITE: #ffffff;
  --SHADOW-COLOR: rgba(0, 0, 0, 0.1);
}

/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--BACKGROUND-COLOR);
  color: var(--TEXT-COLOR);
}

/* Header Styles */
header {
  background-color: var(--PRIMARY-COLOR);
  color: var(--WHITE);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  font-weight: 700;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: var(--WHITE);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--SECONDARY-COLOR);
}

/* Section Styles */
section {
  padding: 20px;
  margin: 20px;
  background-color: var(--WHITE);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--SHADOW-COLOR);
}

h2 {
  color: var(--PRIMARY-COLOR);
  margin-top: 0;
}

/*About Section*/

#about p {
  margin: 0 4rem;
}

/* Projects Section */
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#projects ul li {
  background-color: var(--WHITE);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--SHADOW-COLOR);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}

#projects ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px var(--SHADOW-COLOR);
}

#projects ul li strong {
  color: var(--PRIMARY-COLOR);
  font-weight: 600;
}

#projects ul li a {
  color: var(--SECONDARY-COLOR);
  text-decoration: none;
  font-weight: 500;
  margin-left: 10px;
}

#projects ul li a:hover {
  text-decoration: underline;
}

/* Project Details */
.project-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0 15px;
}

.project-details.open {
  max-height: 200px;
  padding: 15px;
}

.details-button {
  background-color: var(--PRIMARY-COLOR);
  color: var(--WHITE);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", serif;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  /* width: 100%;
  display: block; */
}

.details-button:hover {
  background-color: var(--SECONDARY-COLOR);
}

/* Contact Form Styles */
#contact-form {
  /* max-width: 800px; */
  margin: 0 4rem;
  padding: 20px;
  background-color: var(--WHITE);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--SHADOW-COLOR);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--PRIMARY-COLOR);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins", serif;
  font-size: 14px;
  color: var(--TEXT-COLOR);
  background-color: var(--BACKGROUND-COLOR);
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--SECONDARY-COLOR);
  outline: none;
}

button[type="submit"] {
  background-color: var(--PRIMARY-COLOR);
  color: var(--WHITE);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--SECONDARY-COLOR);
}

.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
  font-style: italic;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Footer Styles */
footer {
  background-color: var(--PRIMARY-COLOR);
  color: var(--WHITE);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Typed.js Styles */
#typed-text {
  font-weight: 600;
  color: var(--SECONDARY-COLOR);
}
/* Mobile Styles */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  nav ul li {
    display: block;
    text-align: center;
    margin: 5px 0;
  }

  section {
    padding: 10px;
    margin: 10px 0;
  }

  #projects ul,
  #about p,
  #contact-form {
    margin: 0;
  }

  #projects ul li {
    flex: 1 1 100%;
  }

  footer {
    padding: 5px;
  }
}
